{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-4 col-md-3 my-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success mt-3" role="alert" id="success-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <script>
                        // Auto-hide the success message after 4 seconds
                        setTimeout(function() {
                            var successMessage = document.getElementById('success-message');
                            if (successMessage) {
                                successMessage.style.display = 'none';
                            }
                        }, 4000);
                    </script>
                {% endif %}

                <h1 class="display-4 white-text text-sm">
                    Visit The Cool New Shop!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'all_products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                    <!-- website description text-->
                    <p class="website-description">
                        Welcome to Shape-Shift, the fitness website that's redefining your fitness journey. 
                        It offers the best diets, workouts, and supplements to supercharge your progress. 
                        It's not just a website; it's your ultimate fitness companion. 
                        Discover free diet plans and workout routines curated to help you achieve your goals. 
                        Don't forget to explore the incredible offerings in our merch and clothing store for some seriously awesome fitness gear.
                        Embark on your fitness journey with Shape-Shift, where every step is a chance to grow and explore new horizons.
                    </p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61552389658110" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://www.tumblr.com/dashboard" class="fa fa-tumblr" target="_blank"></a>
                        <a href="https://www.reddit.com/" class="fa fa-reddit" target="_blank"></a>
                    </div>
                    <!-- newsletter -->
                    <form method="POST" action="/subscribe/" class="my-4">
                        <!-- Replace '/subscribe/' with your form handling URL -->
                        <input type="email" name="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button> 
                        <span class="text-white">to newsletter</span>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}


 
