html {
    height: 100%;
}

body {   
    color: #000;
    font-family: 'Montserrat', sans-serif;
}



.diet-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.main-text {
    background-color: #000;
}

/*style website text and size */
.website-description {
    color: #fff;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #222;
    text-transform: uppercase;
    border: 2px solid #333;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #000;
    color: #fff;
    min-width: 260px;
    
}
#main-nav{
    border-style: outset;
}

/* style buttons */
.btn-black {
    background: #000;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

.white-text{
    color: #fff;
    letter-spacing: 9px;
    
}
.color-black{
    color: #222;
}

.border-black {
    border: 1px solid #000 !important;
}

body::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
}


/* style contact form display color etc */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #fff; 
    color: #000;
}

/* Additional styling for form elements */
#contactForm {
    width: 300px; 
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    resize: none; 
}

/* Adjust textarea height */
textarea {
    height: 120px; 
}

/* Disable text selection in the textarea */
textarea::selection {
    background-color: transparent;
}



/* style footer area */
footer {
    width: 100%;
    height: 48px; 
    background-color: #343a40; 
    color: white; 
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Style the scrollbar thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
    background-color: #444; 
    border: none; 
    height: 2px; 
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}