html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dgqbwyrsz/image/upload/v1700592546/hero.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat', sans-serif;
}


#mc_embed_signup {
    background-color: #222;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

#mc-embedded-subscribe {
    margin-bottom: 10%;
}

.custom-padding-top {
    padding-top: 12%; 
}

.add-rating-button {
    margin-bottom: 50px; 
}

.add-comment-button {
    margin-bottom: 45px; 
}

.shop-heading{
    text-transform: capitalize;
}

.diet-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.main-text {
    background-color: #000;
}

.website-description {
    color: #fff;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #222;
    text-transform: uppercase;
    border: 2px solid #333;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #000;
    color: #fff;
    min-width: 260px;
    
}
#main-nav{
    border-style: outset;
}

.btn-black {
    background: #000;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

.white-text{
    color: #fff;
    letter-spacing: 9px;
    
}
.color-black{
    color: #222;
}

.border-black {
    border: 1px solid #000 !important;
}

body::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this value as needed for the desired height */
    background-color: #fff; /* White background */
    color: #000;
}

/* Additional styling for form elements */
#contactForm {
    width: 300px; /* Adjust width as needed */
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%; /* Full width for inputs */
    padding: 8px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin between inputs */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in width */
    resize: none; /* Disable textarea resizing */
}

textarea {
    height: 120px; /* Adjust textarea height */
}

/* Disable text selection in the textarea */
textarea::selection {
    background-color: transparent;
}




footer {
    width: 100%;
    height: 48px; /* Adjust this value based on your footer height */
    background-color: #343a40; /* Your footer background color */
    color: white; /* Your footer text color */
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Style the scrollbar thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
    background-color: #444; 
    border: none; 
    height: 2px; 
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}