html {
    height: 100%;
}

body {
    background: url('/media/diets/dietbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

/* Hide the browser's default video controls */
.image-container video::-webkit-media-controls {
    display: none;
}

/* Disable interaction with the video when hovering over it */
.image-container video:hover {
    pointer-events: none;
}



.website-description {
    color: #fff;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.social-icons a {
    font-size: 28px; /* Adjust the icon size */
    margin-right: 15px; /* Add spacing between icons */
    color: #fff; /* Icon color */
    margin-top: 25px;
}

.logo-font {
    color: #222;
    text-transform: uppercase;
    border: 2px solid #333;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #000;
    color: #fff;
    min-width: 260px;
    
}
#main-nav{
    border-style: outset;
}

.btn-black {
    background: #000;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

.white-text{
    color: #fff;
    letter-spacing: 9px;
    
}
.color-black{
    color: #222;
}

.border-black {
    border: 1px solid #000 !important;
}

body::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
}

/* Style the scrollbar thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
    background-color: #444; 
    border: none; 
    height: 2px; 
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}