{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/diet.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/3648504968.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Shape-Shift {% block extra_title %}{% endblock %}</title>
</head>
<body>
<header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font my-0"><strong>Shape</strong>Shift</h2>
            </a>
        </div>

        <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-right">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="color-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}color-black{% endif %} nav-link" href="">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
</header>

{% block page_header %}
    <div class="container mt-3">
        <h1 class="logo-font">Shape-Shift</h1>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="image-container my-5">
                <video class="card-img-top img-fluid" autoplay loop muted>
                    <source src="/media/diets/ketovid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="ase-container mb-5 mt-md-5">
                <hr class="w-50 mb-1">
                <p class="mt-4">Introduction to the Keto diet</p>
                <p class="lead mb-0 text-left font-weight-bold">Price: Free</p>
                <p class="mt-3">The ketogenic diet, or "keto," centers on specific food choices to promote ketosis, a state where the body primarily burns fat for energy. It emphasizes:

                    Healthy Fats: Avocados, nuts, seeds, and olive oil are key sources of calories.
                    
                    Low Carbs: Non-starchy vegetables provide most carbs, while sugars and grains are minimized.
                    
                    Moderate Protein: Protein intake is controlled, usually from meat, fish, poultry, and dairy.
                    
                    This approach enhances fat burning, aiding in weight loss, blood sugar control, and mental clarity. Consult a healthcare professional before starting, especially if you have underlying health conditions.</p>
                <p class="mt-3">Below is a simple recipe to get you started:</p>
                <p class="mt-2">Grilled Keto Bacon:

                    Ingredients:
                    <ul>
                        <li>Slices of bacon (as many as you'd like)</li>
                        <li>Olive oil for brushing</li>
                    </ul>

Instructions:
<ul>
    <li>Prepare the Grill: Preheat your grill to medium-high heat (around 350-400°F or 175-200°C). Make sure the grill grates are clean and lightly oiled to prevent sticking.</li>
    <li>Arrange the Bacon: Place the bacon slices directly on the grill grates. You can lay them flat or drape them over the grates.</li>
    <li>Grill the Bacon: Close the grill lid and cook the bacon for about 3-5 minutes on each side. Cooking times may vary based on the thickness of the bacon and the heat of your grill. Keep an eye on it to prevent burning.</li>
    <li>Flip as Needed: Use tongs to flip the bacon slices as they cook to ensure even crispiness.</li>
    <li>Brush with Olive Oil (Optional): If you prefer extra crispiness or if the bacon isn't releasing enough fat, you can lightly brush the bacon with olive oil.</li>
    <li>Check for Doneness: The bacon is ready when it's crispy and has reached your desired level of doneness. Some prefer it slightly chewy, while others like it very crispy.</li>
    <li>Remove and Drain: Use tongs to remove the grilled bacon from the grill and place it on a plate lined with paper towels to drain any excess fat.</li>
    <li>Serve: Serve your grilled keto bacon as a delicious side, crumble it over salads, or enjoy it on its own as a tasty, high-fat keto snack.</li>
</ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Searchbar -->
<footer class="container-fluid bg-dark text-white py-4">
    <div class="row">
        <div class="col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'all_products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8 text-right">
            <a href="https://www.facebook.com/profile.php?id=61552389658110" class="fa fa-facebook fa-2x m-2" target="_blank"></a> 
            <a href="https://www.tumblr.com/dashboard" class="fa fa-tumblr fa-2x m-2" target="_blank"></a> 
            <a href="https://www.reddit.com/" class="fa fa-reddit fa-2x m-2" target="_blank"></a>  
        </div>
    </div>
</footer>

{% block postloadjs %}
{% endblock %}
</body>
</html>