{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="questions-container" class="container custom-padding-top">
    <div class="row justify-content-center">
        <div class="col-md-8"> <!-- Increased column width to accommodate content better -->
            <form method="post" class="mt-4">
                {% csrf_token %}
                {% for question in questions %}
                <div class="mb-4"> <!-- Increased margin-bottom for better spacing -->
                    <label for="response_{{ question.id }}" class="form-label fs-6 mb-2">{{ question.text }}</label>
                    <textarea id="response_{{ question.id }}" name="response_{{ question.id }}" class="form-control form-control-sm" rows="3"></textarea>
                    <label for="rating_{{ question.id }}" class="form-label fs-6 mt-3 mb-2">Rating:</label>
                    <input type="number" id="rating_{{ question.id }}" name="rating_{{ question.id }}" class="form-control form-control-sm" min="1" max="5" value="5">
                </div>
                <hr class="my-4"> <!-- Increased margin-top/bottom for better separation -->
                {% endfor %}
                <div class="text-center"> <!-- Centered the buttons -->
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm ml-2">Go Home</a> <!-- Added margin-left for separation -->
                </div>
            </form>
        </div>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Remove the background image
            document.body.style.backgroundImage = 'none';

            // Hide the specific footer by targeting its classes
            const footer = document.querySelector('footer.container-fluid.bg-dark.text-white.py-1');
            if (footer) {
                footer.style.display = 'none';
            }
        });
    </script>
{% endblock %}



