<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="diets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="diets-link">
                <a href="{% url 'mediterranean_diet' %}" class="dropdown-item">Mediterranean</a>
                <a href="{% url 'paleo_diet' %}" class="dropdown-item ">Paleo</a>
                <a href="{% url 'keto_diet' %}" class="dropdown-item ">Keto</a>
                <a href="{% url 'carnivore_diet' %}" class="dropdown-item">Carnivore</a>
                <a href="{% url 'whole_diet' %}" class="dropdown-item">Whole30</a>
                <a href="" class="dropdown-item">Low-Carb</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="workouts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workout Routines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="workouts-link">
                <a href="" class="dropdown-item">Push-Pull-Legs</a>
                <a href="" class="dropdown-item">German Volume Training</a>
                <a href="" class="dropdown-item">The Texas Method</a>
                <a href="" class="dropdown-item">Juggernaut Method</a>
                <a href="" class="dropdown-item">StrongLifts 5x5</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplements-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplements-link">
                <a href="" class="dropdown-item">Protein</a>
                <a href="" class="dropdown-item">Creatine</a>
                <a href="" class="dropdown-item">Electrolytes</a>
                <a href="" class="dropdown-item">Pre-Workout</a>
                <a href="" class="dropdown-item">Post-Workout</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'women_products' %}" class="dropdown-item"> Women's</a>
                <a href="{% url 'men_products' %}" class="dropdown-item">Men</a>
                <a href="" class="dropdown-item">Discounts</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'keychain_products' %}" class="dropdown-item">Keychains</a>
                <a href="" class="dropdown-item">Wrist Straps</a>
                <a href="" class="dropdown-item">Yoga Mats</a>
                <a href="" class="dropdown-item">Foam Rollers</a>
            </div>
        </li>

    </ul>
</div>