<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="diets-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="diets-link">
                <a href="{% url 'meal_create' %}" class="dropdown-item">MyFood Tracker</a>
                <a href="{% url 'meal_list' %}" class="dropdown-item">MyFood Journal</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplements-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplements-link">
                <a href="{% url 'protein_products' %}" class="dropdown-item">Protein</a>
                <a href="{% url 'creatine_products' %}" class="dropdown-item">Creatine</a>
                <a href="{% url 'electrolytes_products' %}" class="dropdown-item">Electrolytes</a>
                <a href="{% url 'preworkout_products' %}" class="dropdown-item">Pre-Workout</a>
                <a href="{% url 'postworkout_products' %}" class="dropdown-item">Post-Workout</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'women_products' %}" class="dropdown-item"> Women's</a>
                <a href="{% url 'men_products' %}" class="dropdown-item">Men</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'keychain_products' %}" class="dropdown-item">Keychains</a>
                <a href="{% url 'wriststraps_products' %}" class="dropdown-item">Wrist Straps</a>
                <a href="{% url 'yogamats_products' %}" class="dropdown-item">Yoga Mats</a>
                <a href="{% url 'foamrollers_products' %}" class="dropdown-item">Foam Rollers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contactus-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact/Feedback
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contactus-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact us</a>
                <a href="{% url 'questionnaire' %}" class="dropdown-item">Feedback</a>
            </div>
        </li>
    </ul>
</div>