{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contact-form">
    <h2>Contact Us</h2>
    <form id="contactForm">
        <input type="email" id="userEmail" name="user_email" placeholder="Your Email"><br>
        <input type="text" id="subject" name="subject" placeholder="Subject"><br>
        <textarea id="message" name="message" placeholder="Your Message"></textarea><br>
        <!-- Hidden input field to capture the sender's email -->
        <input type="hidden" id="senderEmail" name="sender_email">
        <button type="submit">Send</button>
    </form>
</div>
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>

<script>
    (function() {
        emailjs.init("{{ EMAILJS_API_KEY }}"); 
    })();

    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault();
        
        // Get the sender's email from the input field
        var senderEmail = document.getElementById('userEmail').value;
        var message = document.getElementById('message').value; // Get the message content

        // Set the message content and sender's email in the email parameters
        var emailParams = {
            reply_to: senderEmail, // Set the 'reply_to' field to the sender's email
            message: message // Include the message content
        };

        emailjs.send("{{ EMAILJS_SERVICE_ID }}", "{{ EMAILJS_TEMPLATE_ID }}", emailParams)
            .then(function(response) {
                console.log('Email sent!', response.status, response.text);
                alert('Email sent successfully!');
                // Optionally, clear the form after successful submission
                document.getElementById('contactForm').reset();
            }, function(error) {
                console.error('Email failed to send:', error);
                alert('Error sending email. Please try again.');
            });
    });
</script>

{% endblock %}

