{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="contact-form-wrapper">
                <form action="{% url 'display_contact_form' %}" method="POST" class="contact-form">
                    {% csrf_token %}
                    <h5 class="title">CONTACT US</h5>
                    {{ form.as_p }}
                    <div class="text-center mt-3">
                        <input type="submit" value="Send" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var footer = document.querySelector('.bg-dark'); 
      if (footer) {
        footer.style.display = 'none';
      }
    });
</script>
{% endblock %}
