{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center mt-5">
        <div class="card p-3" style="max-width: 24rem; margin-top: 100px;">
            <h1 class="card-title text-center mt-3">Contact Us</h1>
            <form method="post" action="{% url 'sucess' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" class="form-control form-control-sm" id="id_name">
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-sm" id="id_email">
                </div>
                <div class="mb-3">
                    <label for="id_message" class="form-label">Message</label>
                    <textarea class="form-control form-control-sm" id="id_message" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
